body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f4;
  color: #333;
}

header {
  background-color: #f0f0f4;
  color: #fff;
  padding: 80px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #000;
  font-family: "Inspiration";
  font-size: 50px;
}

.header-button {
  color: #26313f;
  font-family: "Alata";
  font-size: 22px;
  border-radius: 10px;
  border: 2px solid #26313f;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
  transition: background-color 0.3s;
  background-color: #f0f0f4;
  display: inline-block;
  text-align: center;
}

.header-button:hover {
  color: white;
  background: #26313f;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.bio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px;
  padding-left: 200px;
  background-color: #f0f0f4;
}

.bio-name {
  color: #26313f;
  font-family: Alata;
  font-size: 22px;
}

h1 {
  color: #26313f;
  font-family: Alata;
  font-weight: 400;
  font-size: 48px;
}

h2 {
  color: #686565;
  font-family: Alata;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.status {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  color: #26313f;
  font-family: "Alata";
  font-size: 18px;
  font-weight: 400;
  border-radius: 15px;
  padding: 5px 15px;
}

.status::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #00c853;
  border-radius: 50%;
  margin-right: 10px;
}

.hero-image img {
  width: 400px;
  border-radius: 15px;
}

.about {
  padding: 50px;
  background-color: #f0f0f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content {
  padding: 100px;
  display: flex;
  align-items: center;
}

.about-image img {
  width: 400px;
  border-radius: 15px;
  margin-right: 30px;
}

.about-text {
  max-width: 700px;
  height: 500px;
  padding-bottom: 50px;
}

.skills {
  display: flex;
  gap: 33px;
  padding: 20px;
}

.skills img {
  width: 50px;
  transition: transform 0.3s;
}

.skills img:hover {
  transform: scale(1.1);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}
